.clr1{ color:#ff0000 }
.clr2{ color:#02b802 }

.navtitle {
    background-color: white;
    border-radius: 35px;
    padding: 5px 15px;
}

nav {
    position: static;
    display: flex;
    background-color: rgb(43, 45, 49);
    color:white;
    padding: 20px 20px;
    justify-content: center;
}

main {
    padding: 30px 50px;
    height: 100%;
    background-image: linear-gradient(to right, #00ff87, #60ffcc); 
    font-weight: bold;
    font-style: normal;
    font-family: 'Bebas Neue';
}

#choose {
    justify-content: space-evenly;
    display: flex;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.articlep {
    background-color: white;
    border-radius: 35px;
    padding: 30px;
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
    height: 210px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

td, th {
    border: 1px solid rgb(107, 107, 107);
    font-style: italic;
}

.button {
    padding: 10px 20px;
    background-color: white;
    border-radius: 25px;
    text-decoration: none;
    color:black;
}

h1 {
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
}

#titrenav {
    font-size: 150px;
}

h2 {
    margin-bottom: 0;
}

.nom {
    border: 2px solid black;
    padding: 5px;
    letter-spacing: 1px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

footer {
    background-color: rgb(43, 45, 49);
    color:white;
    padding: 40px 30px;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: space-evenly;
}

.button:hover {
    background-color: inherit;
    border: 2px solid;
    border-color:white;
    border-width: 2px;
    color:white;
    padding: 8px 18px;
}

.TOS {
    justify-self: center;  
}