:root {
    --neutral: #e7e7e7;
}

.clr1{ 
    color:#ff0000;
    font-size: 60px;
}
.clr2{ 
    color:#00d672;
    font-size: 60px;
}

body {
    background-image: url('backgroundpizza_final.jpg');
    background-size: 5047px 3456px; 
    font-family: 'Lucida Sans';
}

.tel {
    background-color: var(--neutral);
    border-radius: 5px;
    margin: 20px 20px;
    width: 500px;
    padding: 10px;
    display: block;
    margin: auto;
}

.teltext {
    width: auto;
}

.titre1 {
    color:#00c96b;
    position: relative;
    top: 60px;
}

.titre2 {
    color:#00c96b;
    position: relative;
    top: 75px;
}

.navtitle {
    background-color: var(--neutral);
    border-radius: 5px;
    padding: 5px 15px;
}

nav {
    position: static;
    display: flex;
    background-color: rgb(43, 45, 49);
    colorvar(--neutral);
    padding: 20px 20px;
    justify-content: center;
    margin: -10px -10px 0 -10px;
}

main {
    padding: 30px 50px;
    height: 100%;
    font-weight: bold;
    font-style: normal;
    font-family: 'Bebas Neue';
}

#choose {
    justify-content: space-evenly;
    display: flex;
}

#emplacesect {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 20px;
    height: auto;
}

#emplacement {
    flex-wrap: wrap;
    display: flex;
}

.day {
    margin: 20px 30px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--neutral);
    border-radius: 5px;
    padding: 30px;
    width: auto;
}

.articlep {
    width: 40%;
    margin: 20px auto;
    margin-bottom: 20px;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--neutral);
}

td, th {
    border: 1px solid rgb(107, 107, 107);
    font-style: italic;
}

.button {
    padding: 10px 20px;
    background-color: var(--neutral);
    border-radius: 5px;
    text-decoration: none;
    color:black;
}

h1 {
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
}

#titrenav {
    font-size: 400px;
}

h2 {
    margin-bottom: 0;
}

.nom {
    border: 5px solid #d00000;
    padding: 5px;
    letter-spacing: 1px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

footer {
    background-color: rgb(43, 45, 49);
    colorvar(--neutral);
    padding: 40px 30px;
    text-align: center;
    margin: 0 -10px -10px -10px;
}

.socials {
    display: flex;
    justify-content: space-evenly;
}

.button:hover {
    background-color: inherit;
    border: 2px solid;
    border-colorvar(--neutral);
    border-width: 2px;
    colorvar(--neutral);
    padding: 8px 18px;
}

.gentext {
    font-size: 100px;
}

.TOS {
    justify-self: center;  
}

@media only screen and (max-width:800px) {
    /* For tablets: */
  }
  .day {
    margin: 8px;
    }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    body {
        background-size: 4000px 2800px; 
    }
    .articlep {
      width: 100%;
      height: auto;
      margin: 0px;
    }
    h1 {
        font-size: 15px;
        margin: 10px 0;
        text-align: center;
    }
    
    h2 {
        font-size: 10px;
        margin-bottom: 0;
    }

    .titre1{
        top: 40px;
        position: relative;
    }
    .titre2{
        top: 60px;
        position: relative;
    }
    .teltext, .tel {
        width: 170px;
    }

    .clr1, .clr2 {
        font-size: 30px;
    }
    h1 {
        font-size: 17px;
    }
    h2 {
        font-size: 15px;
    }
    .day {
        margin: 10px;
    }
    .nom {
        
    }
  }